@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* body */
.page {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #757575;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: block;
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.advantages-title,
.work-title,
.team-title,
.customers-title,
.portfolio-title {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Шапка сайта */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page-header {
  background-color: #ffffff;
  width: 480px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav,
.communication {
  opacity: 0;
  pointer-events: none;
}

.main-nav {
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.container-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0;
  width: 450px;
  height: 28px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  height: 28px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-studio {
  color: #212121;
}

.button-open-nav {
  margin-left: 277px;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.button-open-nav:hover .menu-nav-icon,
.button-open-nav:focus .menu-nav-icon {
  cursor: pointer;
  outline: none;
  fill: #2196f3;
}

.menu-nav-icon {
  width: 24px;
  height: 16px;
}

/* CSS для вкладки Студия (index.html)*/
/* Герой */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 400px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(47, 48, 58, 0.8);
  /* outline: 2px solid green; */
}

.heading {
  /* outline: 2px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 84px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 360px;
  height: 84px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.button-primary {
  display: inline-block;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}

.button-primary-text {
  width: 136px;
  height: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Наши преимущества */
.advantages-list .item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.advantages-list .details::before {
  background-image: url("../images/antenna.svg");
}

.advantages-list .punctuality::before {
  background-image: url("../images/vector.svg");
}

.advantages-list .planning::before {
  background-image: url("../images/diagram.svg");
}

.advantages-list .technology::before {
  background-image: url("../images/cosmonaut.svg");
}

.advantages-list {
  list-style: none;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 30px;
}

.advantages-list-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

.advantages-list-text {
  width: 450px;
  height: 50px;
  margin: 0;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/* Чем мы занимаемся */
.work {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Наша команда */
.team {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f4fa;
}

.team-list,
.team-list-icon {
  list-style: none;
}

.team-list > .item {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  width: 450px;
  height: 482px;
}

.team-list-card {
  padding-left: 122px;
  padding-right: 122px;
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
}

.team-list-title {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-text {
  margin: 0;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 16px;
  text-align: center;
  padding-right: 32px;
  padding-left: 32px;
}

.team-list-icon-link {
  display: block;
  padding: 12px;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon-link:hover, .team-list-icon-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.team-list-icon .linkedin {
  margin-right: 0;
}

.team-svg {
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */
/* Футер */
/*# sourceMappingURL=main.css.map */