html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body */

.page {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  display: block;
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  // outline: 2px solid tomato;
}
.advantages-title,
.work-title,
.team-title,
.customers-title,
.portfolio-title {
  margin: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
