.page-header {
  background-color: $header-bg-color;
  border-bottom: 1px solid $portfolio-header-border-color;
}
.main-nav {
  // outline: 1px solid blue;
  display: flex;
  justify-content: start;
  align-items: center;
}
.container-nav {
  outline: 1px solid blue;
  display: block;
  align-items: center;
  width: 141.1px;
  margin-right: 81px;
}
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;
  &-studio {
    color: $title-text-color;
  }
}
.button-open-nav,
.button-close-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.menu-nav {
  display: flex;
  align-items: center;
  // outline: 1px solid tomato;
}
.site-nav {
  // outline: 1px solid yellow;
  margin-right: 84px;
}
.site-nav .item {
  // outline: 1px solid black;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav .current {
  position: relative;
  color: $accent-color;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
.communication {
  // outline: 1px solid green;
  display: flex;
  flex-direction: column;
}
.communication .item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.communication .link {
  // outline: 1px solid red;
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.communication .mail {
  width: 21px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}
.communication .telephone {
  width: 15px;
  height: 20px;
  margin-right: 8px;
  fill: currentColor;
}
