.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: $footer-bg-color;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.footer-container {
  // outline: 1px solid tomato;
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.footer-left-block {
  // outline: 1px solid green;
  @media screen and (min-width: 480px) {
    display: block;
    margin: 0;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 232px;
    margin-left: 76px;
    margin-top: 60px;
    margin-right: 125px;
    text-align: center;
    // outline: 1px solid tomato;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-top: 60px;
    margin-right: 69px;
    margin-bottom: 60px;
  }
}
.footer-logo {
  @media screen and (min-width: 480px) {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 154px;
    height: 28px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    width: 232px;
    height: 31px;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}
.footer-studio {
  color: $button-text-color;
}
.footer-contacts {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $address-text-color;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.footer-contacts-address {
  @media screen and (min-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: 232px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: $other-text-color;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 232px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 9px;
    width: 232px;
  }
}
.footer-mail,
.footer-telephone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 232px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: $address-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    width: 232px;
    margin-bottom: 9px;
  }
}
.footer-mail:hover,
.footer-mail:focus {
  color: $accent-color;
}
.footer-telephone:hover,
.footer-telephone:focus {
  color: $accent-color;
}
.footer-social-media {
  // outline: 1px solid green;
  @media screen and (min-width: 480px) {
    display: block;
    margin: 0;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 216px;
    margin-top: 65px;
    margin-right: 89px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-top: 72px;
    margin-right: 94px;
    margin-bottom: 60px;
  }
}
.footer-social-media-act {
  @media screen and (min-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 146px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: $other-text-color;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
    text-align: left;
  }
}
.footer-social-media-list {
  @media screen and (min-width: 480px) {
    display: flex;
    padding-left: 122px;
    padding-right: 122px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.footer-social-media-list-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer-social-media-list .instagram {
  background-image: url("../images/instagram.svg");
}
.footer-social-media-list .twitter {
  background-image: url("../images/twitter.svg");
}
.footer-social-media-list .facebook {
  background-image: url("../images/facebook.svg");
}
.footer-social-media-list .linkedin {
  background-image: url("../images/linkedin.svg");
  margin-right: 0;
}

.footer-form {
  // outline: 2px solid red;
  @media screen and (min-width: 480px) {
    display: block;
    margin: 0;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-top: 72px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 60px;
  }
}
.footer-form-act {
  @media screen and (min-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 219px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $other-text-color;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    line-height: 0.88;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
    text-align: left;
  }
}
.footer-form-input {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-form-subscribe {
  // outline: 1px solid white;
  display: block;
  position: relative;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    height: 50px;
  }
}
.footer-input {
  @media screen and (min-width: 480px) {
    display: block;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #2f303a;
    color: $primary-text-color;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}
.footer-label {
  // outline: 1px solid red;
  @media screen and (min-width: 480px) {
    display: flex;
    position: absolute;
    width: 334px;
    height: 14px;
    top: 18px;
    left: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;

    align-items: center;
    letter-spacing: 0.03em;
    color: $address-text-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer-input:focus + .footer-label,
.footer-input:not(:placeholder-shown) + .footer-label {
  color: $accent-color;
  top: 0;
  left: 16px;
  transform: translateY(-20px);
}
.button-secondary {
  display: inline-flex;
  padding: 10px 29px;
  max-width: 200px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: $button-text-color;
  background-color: $accent-color;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.button-secondary::after {
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-send.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
