.modal {
  @media screen and (min-width: 480px) {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    padding: 40px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: $primary-bg-color;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .backdrop-hidden & {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal-button-close {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  fill: $button-text-color;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }
}
.modal .close-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  --color1: #ffffff;
  --color2: black;
  &:hover,
  &:focus {
    --color2: #2196f3;
  }
}
.service-order-form {
  /* outline: 2px solid tomato; */
  text-align: center;
  &-title,
  &-field,
  &-input,
  &-label,
  &-textarea,
  &-field-agreement,
  &-submit {
    margin: 0;
    padding: 0;
  }
}
.service-order-form-title {
  @media screen and (min-width: 480px) {
    display: inline-block;
    margin-bottom: 30px;
    width: 370px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
    height: 23px;
  }
}
.service-order-form-field {
  position: relative;
  /* outline: 1px solid green; */
}
.service-order-form-field .name-icon {
  position: absolute;
  top: 14px;
  bottom: 14px;
  left: 19px;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-order-form-field .tel-icon {
  position: absolute;
  top: 13.26px;
  bottom: 13.74px;
  left: 18.27px;
  width: 13px;
  height: 13px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-order-form-field .mail-icon {
  position: absolute;
  top: 14px;
  bottom: 14px;
  left: 17.5px;
  width: 15px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-order-form-input:focus ~ .name-icon,
.service-order-form-input:focus ~ .tel-icon,
.service-order-form-input:focus ~ .mail-icon {
  fill: #2196f3;
}
.service-order-form-input {
  @media screen and (min-width: 480px) {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    margin-bottom: 28px;
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
  &:hover {
    border: 1px solid #2196f3;
  }
  &:focus {
    outline: 1px solid #2196f3;
  }
}

.service-order-form-label {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-order-form-input:focus + .service-order-form-label,
.service-order-form-input:not(:placeholder-shown) + .service-order-form-label {
  color: $accent-color;
  top: 0;
  left: 16px;
  transform: translateY(-20px);
}
.service-order-form-field .textarea-label {
  left: 16px;
}
.service-order-form-textarea {
  @media screen and (min-width: 480px) {
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
    margin-bottom: 20px;
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
  &:hover {
    border: 1px solid #2196f3;
  }
  &:focus {
    outline: 1px solid #2196f3;
  }
}
.service-order-form-textarea:focus + .service-order-form-label,
.service-order-form-textarea:not(:placeholder-shown)
  + .service-order-form-label {
  color: $accent-color;
  top: 0;
  left: 16px;
  transform: translateY(-20px);
}
.service-order-form-field-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.service-order-form .input-I-agree {
  opacity: 0;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 12px;
  margin-right: 8.38px;
  width: 15.9px;
  height: 15px;
}
.service-order-form .label-I-agree {
  // outline: 1px solid tomato;
  @media screen and (min-width: 480px) {
    display: inline-flex;
    align-items: center;
    width: 370px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 448px;
    height: 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}
.label-I-agree-icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.service-order-form .input-I-agree:checked + .label-I-agree-icon {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.service-order-form-link {
  @media screen and (min-width: 480px) {
    margin-left: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.service-order-form-submit {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: $other-text-color;
  background: $accent-color;
}
