.team {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $section-bg-color;
}
.team-list,
.team-list-icon {
  list-style: none;
}

.team-list > .item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  width: 450px;
  height: 482px;
}
.team-list-card {
  padding-left: 122px;
  padding-right: 122px;
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $primary-bg-color;
}
.team-list-title {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
.team-list-text {
  margin: 0;
  margin-top: 10px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.team-list-icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  text-align: center;
  padding-right: 32px;
  padding-left: 32px;
}
.team-list-icon-link {
  display: block;
  padding: 12px;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition-property: fill;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $primary-bg-color;
    background-color: $accent-color;
  }
}
.team-list-icon .linkedin {
  margin-right: 0;
}
.team-svg {
  width: 20px;
  height: 20px;
}
