// Палитра цветов

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$other-text-color: #ffffff;
$primary-bg-color: #ffffff;
$button-text-color: #ffffff;
$footer-bg-color: #2f303a;
$header-bg-color: #ffffff;
$address-text-color: rgba(255, 255, 255, 0.6);
$section-bg-color: #f5f4fa;
$portfolio-bg-color: #ffffff;
$advantages-border-color: #ececec;
$portfolio-header-border-color: #ececec;
$portfolio-image-border-color: #eeeeee;
$backdrop-background-color: rgba(0, 0, 0, 0.2);
